:root {
    --light-brown: #A0958E;
    --off-white: #EAE8E7;
    --black: #000000;
}

body {
    background-color: var(--light-brown);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: black;
}

main {
    background-color: var(--light-brown);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin: 70px 0px 0px 35px; /*top, right, bottom, left*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 35px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0px;
}

a,
a:visited{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rect {
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 450px;
    width: 650px;
    background: #EAE8E7;
    text-align: center;
    margin: 35px 35px 35px 50%;
}

.img-portrait {
    /*display: inline-block;*/
    width: 500px;
    margin: 35px 0px 35px 35px;
}

.button {
    margin: 10px 0px;
    text-align: center;
}

/* Doesn't work */
@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}