:root {
    --light-brown: #A0958E;
    --off-white: #EAE8E7;
    --black: #000000;
}

body {
    background-color: var(--off-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: black;
    margin: 35px;
}

main {
    background-color: var(--light-brown);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin: 70px 0px 0px 35px; /*top, right, bottom, left*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 35px;
}

a,
a:visited{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin: 0px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    margin: 10px 0px;
    text-align: center;
}

/* Doesn't work */
@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}